<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="BuyMapper">

	<resultMap id="BuyResultMap" type="Buy">
		<result property="buyNo" 		column="BUY_NO" 		jdbcType="INTEGER"/>
		<result property="prodNo"		column="PROD_NO" 		jdbcType="INTEGER" />
		<result property="memberNo"		column="MEMBER_NO"		jdbcType="INTEGER" />
		<result property="tranNo"		column="TRAN_NO" 			jdbcType="INTEGER" />
		<result property="data"			column="BUY_DATE" 			jdbcType="DATE" />
	</resultMap>
	
	<insert		id="insertBuy"	parameterType="Buy" >
	 	INSERT
		INTO buy
		VALUES	 (	seq_BUY_buy_no.nextval,
				    #{buyNo} , #{prodNo} , #{memberNo}, #{tranNo}, SYSDATE
				   )
	</insert>
	

	
</mapper>




