<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="BuyMapper">

	<resultMap id="BuyResultMap" type="Buy">
		<result property="buyNo" 		column="BUY_NO" 		jdbcType="INTEGER"/>
		<result property="memberNo"		column="MEMBER_NO"		jdbcType="INTEGER" />
		<result property="prodNo"		column="PROD_NO" 		jdbcType="INTEGER" />
		<result property="totalBuy"		column="TOTAL_BUY" 			jdbcType="INTEGER" />
		<result property="tranNo"		column="TRAN_NO" 			jdbcType="INTEGER" />
		<result property="data"			column="BUY_DATE" 			jdbcType="DATE" />
	</resultMap>
	
	<insert		id="buyProduct"	parameterType="Buy" >
	 	INSERT
		INTO
		VALUES	 (	seq_Product_prod_no.nextval,
				    #{memberNo} , #{prodName} , #{price}, #{info}, #{pic},
				    SYSDATE, 0, #{cate}
				   )
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT SET PRODNAME=#{prodName}, price=#{price}, info=#{info}
		<where>
			prod_no=#{prodNo}		
		</where>
	</update>
	
	<select id="getProduct" parameterType="int" resultMap="BuyResultMap">
		SELECT *FROM PRODUCT WHERE PROD_NO=#{value}
	</select>
	 
	<select id="getProductList" parameterType="int" resultMap="BuyResultMap">
		select *from Product
		<where>
			member_no=#{value}
		</where>
	</select>
	
	<select id="getAllProductList" resultMap="BuyResultMap">
		select *from Product
	</select>
	
	
</mapper>




