<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="MemberMapper">

	<resultMap id="memberResultMap" type="Member">
		<result property="memberNo" 	column="Member_no" 		jdbcType="INTEGER"/>
		<result property="id"			column="ID" 			jdbcType="VARCHAR" />
		<result property="password"		column="PASSWORD" 		jdbcType="VARCHAR" />
		<result property="name"			column="NAME" 			jdbcType="VARCHAR" />
		<result property="phone"		column="PHONE" 			jdbcType="VARCHAR" />
		<result property="email"		column="EMAIL" 			jdbcType="VARCHAR" />
		<result property="sex"			column="SEX" 			jdbcType="VARCHAR" />
		<result property="addr"			column="ADDR" 			jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert		id="insertMember"	parameterType="member" >
	 	INSERT
		INTO member
		VALUES	 (	seq_member_member_no.nextval,
				    #{id} , #{password} , #{name}, #{phone}, #{email},
				    #{sex}, #{addr}
				   )
	 </insert>
</mapper>