<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="member" type="yeolsim.service.domain.Member" />
		<typeAlias alias="product" type="yeolsim.service.domain.Product" />
		<typeAlias alias="buket" type="yeolsim.service.domain.Buket" />
		<typeAlias alias="buy" type="yeolsim.service.domain.Buy" />
		<typeAlias alias="buyMember" type="yeolsim.service.domain.BuyMember" />
		<typeAlias alias="pay" type="yeolsim.service.domain.Pay" />
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/MemberMapper.xml"/>
		<mapper resource="sql/ProductMapper.xml"/>
		<mapper resource="sql/BuketMapper.xml"/>
		<mapper resource="sql/BuyMapper.xml"/>
		<mapper resource="sql/BuyMemberMapper.xml"/>
		<mapper resource="sql/PayMapper.xml"/>
	</mappers>

</configuration>