<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="ProductMapper">
	<resultMap id="ProductResultMap" type="Product">
		<result property="prodNo" 		column="PROD_NO" 		jdbcType="INTEGER"/>
		<result property="memberNo"		column="MEMBER_NO"		jdbcType="INTEGER" />
		<result property="prodName"		column="PRODNAME" 		jdbcType="VARCHAR" />
		<result property="price"		column="PRICE" 			jdbcType="INTEGER" />
		<result property="info"			column="INFO" 			jdbcType="VARCHAR" />
		<result property="pic"			column="PIC" 			jdbcType="VARCHAR" />
		<result property="data"			column="DATA" 			jdbcType="DATE" />
		<result property="stat"			column="STAT" 			jdbcType="INTEGER" />
		<result property="cate"			column="CATE" 			jdbcType="VARCHAR" />
		
		<association property="buyProd" javaType="buy">
				<result property="buyNo"		column="buy_no"			jdbcType="INTEGER" />
				<result property="memberNo"		column="member_no"		jdbcType="INTEGER" />
				<result property="prodNo"		column="prod_no"		jdbcType="INTEGER" />		
				<result property="data"			column="buy_date" 		jdbcType="DATE" />
				<result property="tranNo"		column="tran_no"		jdbcType="INTEGER"/>
		</association>
	</resultMap>
	
	<sql id="order">
		order by data desc
	</sql>
	
	<insert		id="insertProduct"	parameterType="Product" >
	 	INSERT
		INTO Product
		VALUES	 (	seq_Product_prod_no.nextval,
				    #{memberNo} , #{prodName} , #{price}, #{info}, #{pic},
				    SYSDATE, 1, #{cate}
				   )
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT SET PRODNAME=#{prodName}, price=#{price}, info=#{info}
		<where>
			prod_no=#{prodNo}		
		</where>
	</update>
	
	<update id="starRating" parameterType="Product">
		UPDATE PRODUCT SET 	stat=#{stat}
		<where>
			prod_no=#{prodNo}
		</where>
	</update>
	<select id="getStar" parameterType="int" resultType="INT">
		SELECT stat FROM PRODUCT WHERE PROD_NO=#{value}
	</select>
	
	
	<select id="getProduct" parameterType="int" resultMap="ProductResultMap">
		SELECT *FROM PRODUCT WHERE PROD_NO=#{value}
	</select>
	 
	<select id="getProductList" parameterType="int" resultMap="ProductResultMap">
		select *from Product
		<where>
			member_no=#{value}
		</where>
		<include refid="order"/>
	</select>
	
	<select id="getAllProductList" resultMap="ProductResultMap">
		select *from Product
		<include refid="order"/>
	</select>
	
	<select id="getBuyProductList" parameterType="int" resultMap="ProductResultMap">
		select B.MEMBER_NO, B.PROD_NO, B.BUY_NO, B.tran_no, B.buy_date, vt.prodName, vt.price, vt.info, vt.pic, vt.data, vt.stat, vt.cate from buy b,
        (select *from member m, product p where M.MEMBER_NO=P.MEMBER_NO and M.MEMBER_NO=#{value}) vt where b.PROD_NO=vt.PROD_NO
	</select>
	
</mapper>




